body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    background: green;
    flex-wrap: wrap;
}
/* параметры верхушки сайта*/
.center {
    max-width: 1000px;
    margin: auto;
}
/* параметры блока центр*/

header ul {
    display: flex;
    flex-wrap: wrap;
}

header ul li a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header ul li a:hover {
    background: rgb(185, 49, 49);
}

#logo {
    height: 65px;
    width: 100px;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* параметры лого */
#container {
    display: flex;
    flex-wrap: wrap;
}
/* параметры контейнер */
#sidebar {
    width: 30%
}


#content {
width: 70%
}
/* параметры размер контейнер */
.border {
    min-height: 600px;
    box-shadow: 0 0 4px 2px #00000061;
    margin: 15px;
    padding: 15px;
}
/* параметры вкладки бордер */

@media(max-width: 620px) {
    header ul {
        justify-content: center;
    }
    #logo {
        display: none;
    }
}
/* общий параметр для головы и лого */

